root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true
max_line_length =

[*.{kt,kts}]
disabled_rules = no-wildcard-imports
insert_final_comma = true
trailing_comma_on_call_parameters = true
trailing_comma_on_declaration_parameters = true